pipeline/PL_FilterGetMetaData.json
{
	"name": "PLFilterGetMetaData",
	"properties": {
		"activities": [
			{
				"name": "Act_FilterAnimal",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('AnimalsArray')",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item(),'ccc'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Act_FilterAnimal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"AnimalsArray": {
				"type": "Array",
				"defaultValue": [
					"aaa",
					"bbb",
					"ccc"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-05T23:53:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}